* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #757575;
}
.title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-left: 40%   ;
    
}
.nextpage{
    padding-left: 47%;
}