* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #757575;
}

.title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-left: 40%   ;
    
}
.main{
    color: #00ff00;
    text-align: left;
    font-size: 50px;
}
.button{
    padding-left: 47%;
}